*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
.container{
    max-width: 1200px;
}
.margin-container{
    margin: 0 auto;
}
.row{
    display: flex;
    width: 100%;
}
.border-black{
    border: 1px dashed black;
}
.col-100{
    width: 100%;
}
.line-height{
    line-height: 3;
}
.space-around{
    justify-content: space-around;
}
.height-500{
    height: 500px;
}
.col-70{
    width: 70%;
}
.font-white{
    color: white;
}
.label{
    border-radius: 20px;
    padding: 12px;
    vertical-align: middle;
}
.bg-white{
    background-color: white;
}
.padding-menu{
    padding: 0 120px;
}
.bg-black{
    background-color: #23272a;
}
/* HEADER */
header{
    background-color: #255ee9;
    padding: 10px 0;
}
.logo{
    vertical-align: middle;
}
.col-15{
    width: 15%;    
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    padding: 0 5px;
}
.text-align{
    text-align: right;
}
/* MAIN */
.container-sm{
    width: 555px;
    margin: 0 auto;
    padding: 20px 0;
}
.bg-img{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    height: 500px;
}
.title-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 0;
}
.title{
    margin: 20px 0;
    font-size: 44px;
}
.subtext{
    text-align: center;
    margin: 20px 0; 
}
.margin-x-10{
    margin: 0 10px ;
}
.subtitle{
    text-align: left;
    margin: 20px 0; 
}
.padding-margin-51{
    margin: 0 51px;
    padding: 51px;
}
.reverse{
    flex-direction: row-reverse;
}
.align-center{
    align-items: center;
}
.bg-grey{
    background-color: #f6f6f6;
}
.margin-y-30{
    margin: 30px 0;
}
.margin-y-70{
    margin: 70px 0;
}
.padding-y-70{
    padding: 70px 0;
}
/* fino qui */
.container-big{
    max-width: 874px;
}
.column{
    flex-direction: column;
}
h3{
    margin: 20px 0;
    font-size: 32px;
    background-image: url("../img/stars.svg");
    background-size: cover;
}
.bg-ds-color{
    background-color: #8ea1e1;
}
.fsize-24{
    font-size: 24px
}
.fsize-34{
    font-size: 34px
}
/* FOOTER */
footer{
    padding: 50px 0;
}
.flex{
    flex-direction: column;
}
.line-height-foot{
    margin: 25px 0;
    line-height: 1.7;
}
.font-ds-color{
    color: #8ea1e1
}
.col-30{
    width: 30%;
}
.bg-lightred{
    background-color: #f08080;
}
.bg-darkcyan{
    background-color: darkcyan;
}
.col-17{
    width: calc(100% / 4);
}
.flag{
    height: 15px;
}
hr{
    background-color: lightgrey;
    margin: 10px 0;
}
.content{
    display: flex;
    justify-content: space-between;
}
.padding-x-75{
    padding: 0 75px;
}
.padding-y-20{
    padding: 20px 0px;
}
.padding-y-10{
    padding: 10px;
}